@charset "utf-8";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.2;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #f5efe5;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

header {
  background-color: #10602B;
  padding: 2.2% 3.5rem;
  font-size: clamp(1.9rem,2vw,3rem);
  font-weight: bold;
}

.header_content {
  display: flex;
  justify-content: space-between;
}

.header_ul {
  display: flex;
}

.header_li {
  margin-left: 1.5rem;
}

/* --concept----------------- */
.section_ttl {
  width: 60%;
  text-align: center;
  font-size: clamp(2rem,3.5vw,5rem);
  font-weight: bold;
  background-color: #10602B;
  color: #fff;
  padding: 2.2% 0;
  margin-bottom: 7.6%;
}

/* more btn----- */
.btn {
  display: block;
  background-color: #eba31f;
  width: 20%;
  height: auto;
  border: none;
  border-radius: 50px;
  padding: 1.7% 0;
}

.btn a {
  font-size: clamp(2.5rem,3.2vw,3rem);
  color: #333;
  font-weight: bold;
}


